<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dog Caption Creator</title>
	<style>
		html {
			font-size: 18px;
			max-width: 1080px;
			max-height: 100%;
		  	margin: auto;
		}

		body {
			background-color: #FBFAF5;
		}

		#outerDiv {
			border: 5px solid #555;
		}

		h1 {
			text-align: center;
		}

		h2 {
			text-align: center;
		}

		p {
			margin: 8px;
            text-align: center;
		}

        .centerer {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8px;
            margin-bottom: 8px;
        }

		img {
			display: block;
    		margin-left: auto;
    		margin-right: auto;
			border: 5px solid #555;
		}
	</style>
</head>

<body>
    <div id="outerDiv">
        <h1>How would you caption this dog?</h1>
        <img src="<%- imgSrc %>">
        <form action="/newDog" method="get">
            <input value="Get new dog" type="submit" class="centerer">
        </form>
        <form action="/submitCaption" method="post">
            <textarea name="caption" rows="8" cols="75" class="centerer" required></textarea>
            <p class="centerer">Enter your name:</p>
            <input id="name" name="name" type="name" class="centerer" required>
            <input type="submit" value="Submit your caption!" class="centerer">
            <input type="reset" value="Clear" class="centerer">
        </form>
        <h1><a href="/">Return to home</a></h1>
    </div>
</body>