<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dog Caption Creator</title>
	<style>
		html {
			font-size: 18px;
			max-width: 960px;
		  	margin: auto;
		}

		#outerDiv {
			border: 5px solid #555;
		}

		body {
			background-color: #FBFAF5;
		}

		h1 {
			text-align: center;
		}

		h2 {
			text-align: center;
		}
	</style>
</head>

<body>
	<div id="outerDiv">
		<h1>Oops! There was an error when fetching your dog. Be sure to start from our home page and caption a dog!</h1>
    	<h2><a href="/">Return to home.</a></h2>
	</div>
</body>